html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
  

@font-face {
    font-family: "cursiva";
    src: url(./fonts/OleoScriptSwashCaps-Bold.ttf);    
}

@font-face {
    font-family: "inspiration";
    src: url(./fonts/Inspiration-Regular.ttf);    
}
:root {
    --xlarge:45px;
    --large: 36px;
    --medium: 28px;
    --regular: 20px;
    --reg_small: 16px;
    --small: 14px;
    --xsmall: 10px;
    --turquoise: #45b2ae;
    --pink: #f397a9;
    --blue: #20254a;
    --yellow: #ffdf9e;
    --darkyellow:hwb(43 42% 0%);


}


body {   
    margin: 0;
    top: 0;
}

/*Alerta*/

.hidden {
    display: none !important;
}

.animation {        
    animation: opacity-html 0.7s linear;
}

.active {
    transform: translate(0) !important;
    transition: all 0.2s !important;
    background-color: var(--pink);
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

.active-error {
    position: absolute;
    transform: translate(0) !important;
    transition: all 0.2s !important;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    margin-top: 10px;
    padding: 0;
    bottom: 0;
}

.error {
    border-color: red !important;
    box-shadow: -3px -1px 37px 11px rgba(252,29,29,0.38);
-webkit-box-shadow: -3px -1px 37px 11px rgba(252,29,29,0.38);
-moz-box-shadow: -3px -1px 37px 11px rgba(252,29,29,0.38);
}
/*Spinner*/

.lds-heart-active {
    background-color: #252525ed;
    cursor: none;
    width: 100%;
    position: fixed;
    right: 0;
    flex-direction: column;
    text-align: center;
    padding-block-start: 30px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 9;
    top: 80px;
}
  .lds-heart {
    display: inline-block;
    position: absolute;
    top: 44%;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
    left: 48%;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fcf;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background: #fcf;
  }
  .lds-heart div:before {
    left: -36px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -36px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
  





/*Navbar*/
.navbar {
    display: flex;
    padding-inline-end: 40px;
    align-items: center;
    gap: 75px;
    height: 80px;
    
}

.navbar label {
    cursor: pointer;
}

.navbar i {
    font-size: var(--large);  
    align-items: center;
}

.navbar a {
    font-size: var(--large);
    text-decoration: none;
    color: black;
    font-family: "cursiva";
}

.navbar a:hover {
    color: var(--turquoise);
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-shadow: rgba(67, 71, 75, 0.219) 0px 8px 24px;
    position: fixed;
    top: 0;    
    z-index: 1; 
    background-image: linear-gradient(to right, white , var(--pink));
}

.header img {
    height: 70px;
    width: 120px;
    margin-inline-start: 20px;
}

.check {
    display: none;    
}

/*Main*/



main {
    background: url(./img/fondoregis.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
    padding-block-start: 180px;
    
}

form {     
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.Subtitulo {
    text-align: center;
    font-size: var(--large);
    font-family: "cursiva";
}

.linea_subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 99%;
} 

.linea_sub {
    height: 1px;
    background-color: var(--turquoise);
    width: 36%;
    margin: 5px;
}

.div_form {    
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
}



.div_form label {
    font-size: var(--regular);
}

.div_form input {
    height: 30px;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.356);
    border-style: solid;
    
}

form button {
    margin-top: 20px;
    height: 30px;
    background-color: var(--blue);
    color: white;
    font-weight: 800;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
  
    
.div_form input:focus{
    -webkit-box-shadow: 1px 1px 30px 3px var(--turquoise);
    -moz-box-shadow: 1px 1px 30px 3px var(--turquoise);
    box-shadow: 1px 1px 30px 3px var(--turquoise);
}


#form {
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#form_center {
    width: 400px;
    align-content: flex-start;
}

#form_buttom {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}




/*Footer*/
footer {
    background-image: linear-gradient(to right, var(--pink) , var(--yellow), var(--turquoise), var(--pink));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 180px;
}



footer h3 {
    margin-bottom: 0;
    text-align: center;
}

